<div class="row">
    {{ form_start(form, {'attr': {'class': 'col'}}) }}
        {{ form_widget(form) }}
        <button class="btn btn-{{ btn_class|default('success')}}">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>