{% extends 'base.html.twig' %}

{% block title %}Update Donation {{ parent() }}{% endblock %}

{% block body %}
    {{ include('main/page-title.html.twig', {
        'pagetitle': 'Update Donation Details',
        'subtitle': 'Update the details for this donation as it passess through the checks before getting admitted to the blood bank by filling out the form below',
        'actions': [
            {
                'name': 'donation_index',
                'class': 'primary',
                'label': 'back to donations',
                'id': donation.id
            },{
                'name': 'donation_show',
                'class': 'warning',
                'label': 'cancel update',
                'id': donation.id
            },{
                'name': 'donation_new',
                'class': 'success',
                'label': 'add new donation',
                'id': donation.id
            }
        ]
    })}}
    <div class="row">
        <div class="col-6">
            {{ include('donation/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
        <div class="col-6">
            {# include('main/workflow-status.html.twig', {currentPlace: donation.currentPlace})#}
            <div class="card text-white bg-secondary">
            <div class="card-body">
                <h4 class="card-title lead">Donor Details</h4>
                <div class="card-text">
                    <p class="text-capitalize">{{donation.donor ? donation.donor.title ~ ' ' ~ donation.donor.fullname : 'Donor Name'}}</p>
                    <p><span class="text-dark small">Age:</span> {{donation.donor ? donation.donor.getDonorAge.y~' years old' : '' }}</p>
                    <p><span class="text-dark small">Blood Type: </span>{{donation.donor ? donation.donor.bloodtype : ''}}</p>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {% if (donation.currentPlace is same as('blood_collection')) %}
        <script>
        var $collectionHolder;

        // setup an "add a tag" link
        var $addBloodbagButton = $('<button type="button" class="add_bloodbag_link btn btn-block btn-info mb-3">Add bloodbag</button>');
        var $newLinkLi = $('<div></div>').append($addBloodbagButton);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('#donation_bloodbags');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addBloodbagButton.on('click', function(e) {
                // add a new tag form (see next code block)
                addBloodbagForm($collectionHolder, $newLinkLi);
            });
        });

        function addBloodbagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<div></div>').append(newForm);
            $newLinkLi.before($newFormLi);
        }

        </script>
    {% endif %}
{% endblock %}