{% extends 'base.html.twig' %}

{% block title %}Donations {{parent()}}{% endblock %}

{% block body %}
{{ include('main/page-title.html.twig', {
    'pagetitle': 'Donations Registry',
    'subtitle': 'A tabuluated list of all donations registered in the system',
    'actions': [
        {
            'name': 'donation_new',
            'class': 'success border-warning',
            'label': 'add new donation',
            'id': donations ? 1 : donation.id
        }
    ]
})}}
<div class="col" id="donations">
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th class="sort" data-sort="location">Location</th>
                <th>Blood Bags</th>
                <th class="sort" data-sort="donor">Donor</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="list">
        {% for donation in donations %}
            <tr>
                <td>{{ donation.date ? donation.date|date('D d F, Y') : '' }}</td>
                <td class="location">{{ donation.locality }}</td>
                <td>{{ donation.bags }}</td>
                <td class="donor"><a class="btn btn-block btn-outline-info" href="{{path('donor_show', {'id': donation.donor ? donation.donor.id : 1})}}">{{ donation.donor ? donation.donor.fullname: 'Donor Name' }}<a/></td>
                <td>{{ donation.currentPlace }}</td>
                <td class="btn-group">
                    <a class="btn btn-info btn-sm" role="button" href="{{ path('donation_show', {'id': donation.id}) }}">view</a>
                    <a class="btn btn-warning btn-sm" role="button" href="{{ path('donation_edit', {'id': donation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var options = {
            valueNames: [ 'location', 'donor' ]
        };
        var donationList = new List('donations', options);
    </script>
{% endblock %}