{% extends 'base.html.twig' %}

{% block title %}Donation{% endblock %}

{% block body %}
    <h1>Donation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ donation.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ donation.date ? donation.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ donation.location }}</td>
            </tr>
            <tr>
                <th>Donor</th>
                <td><a class="btn btn-dark btn-sm" role="button" href="{{path('donor_show',{id: donation.donor.id})}}">{{ donation.donor.getFullName }}</a></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('donation_index') }}">back to list</a>

    <a href="{{ path('donation_edit', {'id': donation.id}) }}">edit</a>

    {{ include('donation/_delete_form.html.twig') }}
{% endblock %}
