{% extends 'base.html.twig' %}

{% block title %}Donation Details {{ parent() }}{% endblock %}

{% block body %}
    {{ include('main/page-title.html.twig', {
        'pagetitle': 'Donation Details',
        'subtitle': 'Below are details concerning this particular donation',
        'actions': [
            {
                'name': 'donation_index',
                'class': 'primary',
                'label': 'donations registry',
                'id': donation.id
            },{
                'name': 'donation_new',
                'class': 'success',
                'label': 'new donation',
                'id': donation.id
            },{
                'name': 'donation_edit',
                'class': 'warning',
                'label': 'edit',
                'id': donation.id
            }
        ]
    })}}
    <div class="row">
        <div class="col-sm-8">
            <ul class="list-group mb-2 pb-1">
                <li class="list-group-item bg-secondary"><span class="text-dark">Donation Id: </span>{{ donation.id }}</li>
                <li class="list-group-item bg-secondary"><span class="text-dark">Date: </span>{{ donation.date ? donation.date|date('D F j, Y @h:m') : '' }}</li>
                <li class="list-group-item bg-secondary"><span class="text-dark">Location: </span>{{ donation.locality }}</li>
                <li class="list-group-item bg-secondary"><span class="text-dark">Volume: </span>{{ donation.volume ? donation.volume|number_format : 0 }} millilitres</li>
                <li class="list-group-item bg-secondary"><span class="text-dark">Blood Bags: </span><a class="btn btn-default text-dark" href="{{path('bloodbag_index')}}">{{ donation.bloodbags ? donation.bloodbags.count : 0 }}</a></li>
                {% if donation.testresult %}
                    <li class="list-group-item bg-secondary text-warning"><span class="text-light">Blood test result: </span>{{ donation.testresult }} These sicknesses were found in the blood:
                        <p>
                        {% for sickness in donation.serology %}
                            {{ sickness }}, 
                        {% endfor %}
                        </p>
                    </li>
                {% endif %}
                <li class="list-group-item bg-secondary"><span class="text-dark">Status: </span>{{ donation.currentPlace }}</li>
            </ul>
            <div class="text-secondary small">
                <p>There are six (6) states that a donation goes through:</p>
                <p class="{{ donation.currentPlace == 'physical_checks' ? 'text-warning' }}">1. physical_checks - is when the patient is going through physical checks</p>
                <p class="{{ donation.currentPlace == 'blood_collection' ? 'text-warning' }}">2. blood_collection - is where the donor's blood is collected</p>
                <p class="{{ donation.currentPlace == 'blood_tests' ? 'text-warning' }}">3. blood_tests - is where the blood is checked for anomolies</p>
                <p class="{{ donation.currentPlace == 'save_bank' ? 'text-warning' }}">4.1 save_bank - the blood donated is saved to the bank</p>
                <p class="{{ donation.currentPlace == 'discard' ? 'text-warning' }}">4.2 discard - the blood donated is marked for disposal</p>
                <p class="{{ donation.currentPlace == 'terminate' ? 'text-warning' }}">5. terminate - the blood has been disposed</p>
            </div>
        </div>
        {% if donation.donor %}
            <div class="col-sm-4">
                <p class="lead text-warning">Donor</p>
                <p><span class="text-secondary">Full Name:</span> {{ donation.donor.getFullName }}</p>
                <p><span class="text-secondary">Gender:</span> {{donation.donor.gender}}</p>
                <p><span class="text-secondary">Age:</span> {{donation.donor.getDonorAge ? donation.donor.getDonorAge.y~' years old' : '' }}</p>
                <p><span class="text-secondary">Blood Type:</span> {{donation.donor.bloodtype}}</p>
                <a class="btn btn-secondary btn-sm" role="button" href="{{path('donor_show',{id: donation.donor.id})}}">View Donor's Full Details</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
