{% extends 'base.html.twig' %}

{% block title %}Donation Details {{ parent() }}{% endblock %}

{% block body %}
{{ include('main/page-title.html.twig', {
    'pagetitle': 'Donation Details',
    'subtitle': 'Below are details concerning this particular donation',
    'actions': [
        {
            'name': 'donation_index',
            'class': 'primary',
            'label': 'donations registry',
            'id': donation.id
        },{
            'name': 'donation_new',
            'class': 'success',
            'label': 'new donation',
            'id': donation.id
        },{
            'name': 'donation_edit',
            'class': 'warning',
            'label': 'edit',
            'id': donation.id
        }
    ]
})}}
<div class="col-12">
    <div class="row">
        <div class="col-sm-8">
            <table class="table table-striped table-sm">
                <tbody>
                    <tr>
                        <th>Donation Id</th>
                        <td>{{ donation.id }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ donation.date ? donation.date|date('D F j, Y @h:m') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td>{{ donation.locality }}</td>
                    </tr>
                    <tr>
                        <th>Volume</th>
                        <td>{{ donation.volume ? donation.volume|number_format : 0 }} millilitres</td>
                    </tr>
                    <tr>
                        <th>Blood Bags</th>
                        <td>{{ donation.bags ? donation.bags : 0 }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ donation.currentPlace }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% if donation.donor %}
            <div class="col-sm-4">
                <p class="lead text-secondary">Donor</p>
                <p><span class="text-secondary">Full Name:</span> {{ donation.donor.getFullName }}</p>
                <p><span class="text-secondary">Gender:</span> {{donation.donor.gender}}</p>
                <p><span class="text-secondary">Age:</span> {{donation.donor.getDonorAge ? donation.donor.getDonorAge.y~' years old' : '' }}</p>
                <p><span class="text-secondary">Blood Type:</span> {{donation.donor.bloodtype}}</p>
                <a class="btn btn-secondary btn-sm" role="button" href="{{path('donor_show',{id: donation.donor.id})}}">View Donor's Full Details</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
