{% extends 'base.html.twig' %}

{% block title %}Bloodbag index{% endblock %}

{% block body %}
    <h1>Bloodbag index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Bagnumber</th>
                <th>Volume</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bloodbag in bloodbags %}
            <tr>
                <td>{{ bloodbag.id }}</td>
                <td>{{ bloodbag.bagnumber }}</td>
                <td>{{ bloodbag.volume }}</td>
                <td>
                    <a href="{{ path('bloodbag_show', {'id': bloodbag.id}) }}">show</a>
                    <a href="{{ path('bloodbag_edit', {'id': bloodbag.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bloodbag_new') }}">Create new</a>
{% endblock %}
