{% extends 'base.html.twig' %}

{% block title %}Bloodbag{% endblock %}

{% block body %}
    <h1>Bloodbag</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bloodbag.id }}</td>
            </tr>
            <tr>
                <th>Bagnumber</th>
                <td>{{ bloodbag.bagnumber }}</td>
            </tr>
            <tr>
                <th>Volume</th>
                <td>{{ bloodbag.volume }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bloodbag_index') }}">back to list</a>

    <a href="{{ path('bloodbag_edit', {'id': bloodbag.id}) }}">edit</a>

    {{ include('bloodbag/_delete_form.html.twig') }}
{% endblock %}
