{% extends 'base.html.twig' %}

{% block title %}Bloodtest{% endblock %}

{% block body %}
    <h1>Bloodtest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bloodtest.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ bloodtest.date ? bloodtest.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ bloodtest.comment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bloodtest_index') }}">back to list</a>

    <a href="{{ path('bloodtest_edit', {'id': bloodtest.id}) }}">edit</a>

    {{ include('bloodtest/_delete_form.html.twig') }}
{% endblock %}
