<div class="row">
    <div class="col-12 d-md-flex justify-content-end">
        {% for action in actions %}
            <span class="badge badge-pill badge-{{action.class|default('danger')}} p-2">
                {% if action.id is defined %}
                    <a class="text-light" href="{{path(action.name, {id: action.id})}}">{{action.label}}</a>
                {% else %}
                    <a class="text-light" href="{{path(action.name)}}">{{action.label}}</a>
                {% endif %}
            </span>
        {% endfor %}
    </div>
    <div class="col-12">
        <p class="h1 display-4 text-info">{{pagetitle is defined ? pagetitle : 'Page Title'}}</p>
    </div>
    <div class="col-12">
        <p class="text-light lead">{{subtitle is defined ? subtitle}}</p>
    </div>
</div>