<div class="col-md-8">
    <p class="h1 display-4">{{pagetitle ? pagetitle : 'Page Title'}}</p>
</div>
<div class="col-md-4 float-right d-md-flex justify-content-end">
    <div class="btn-group btn-sm align-self-center">
        {% for action in actions %}
        <a class="btn btn-sm btn-{{action.class ? action.class : 'default'}}" href="{{path(action.name, {id: action.id})}}">{{action.label}}</a>
        {% endfor %}
    </div>
</div>
<div class="col-12">
    <hr>
    <p class="text-info lead">{{subtitle ? subtitle : 'Page Subtitle'}}</p>
</div>