{% extends 'base.html.twig' %}

{% block title %}Blood Donors{% endblock %}

{% block body %}
    {{ include('main/page-title.html.twig', {
        'pagetitle': 'Blood Donor Accounts',
        'subtitle': 'A tabulated list showing all blood donors registered in the system',
        'actions': [
            {
                'name': 'donor_new',
                'class': 'success',
                'label': 'add donor',
                'id': 0
            }
        ]
    })}}

    <div class="col">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Dob</th>
                    <th>Gender</th>
                    <th>MaritalStatus</th>
                    <th>BloodType</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for donor in donors %}
                <tr>
                    <td>{{ donor.fullName }}</td>
                    <td>{{ donor.dob ? donor.dob|date('d/m/Y') : '' }}</td>
                    <td>{{ donor.gender }}</td>
                    <td>{{ donor.maritalStatus }}</td>
                    <td>{{ donor.bloodType }}</td>
                    <td class="btn-group">
                        <a class="btn btn-info btn-sm" role="button" href="{{ path('donor_show', {'id': donor.id}) }}">show</a>
                        <a class="btn btn-warning btn-sm" role="button" href="{{ path('donor_edit', {'id': donor.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
