{% extends 'base.html.twig' %}

{% block title %}Donor{% endblock %}

{% block body %}
    <div class="col-9">
        <h1>Donor</h1>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>FirstName</th>
                    <td>{{ donor.firstName }}</td>
                </tr>
                <tr>
                    <th>MiddleName</th>
                    <td>{{ donor.middleName }}</td>
                </tr>
                <tr>
                    <th>LastName</th>
                    <td>{{ donor.lastName }}</td>
                </tr>
                <tr>
                    <th>Dob</th>
                    <td>{{ donor.dob ? donor.dob|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>{{ donor.gender }}</td>
                </tr>
                <tr>
                    <th>MaritalStatus</th>
                    <td>{{ donor.maritalStatus }}</td>
                </tr>
                <tr>
                    <th>BloodType</th>
                    <td>{{ donor.bloodType }}</td>
                </tr>
                <tr>
                    <th>Donation Count</th>
                    <td>{{ donor.donations.count }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="btn-group btn-sm">
                    <a class="btn btn-sm btn-info" role="button" href="{{ path('donor_index') }}">back to list</a>
                    <a class="btn btn-sm btn-warning" role="button" href="{{ path('donor_edit', {'id': donor.id}) }}">edit</a>
                    {{ include('donor/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="lead">Donation History</p>
                <div class="list-group">
                    {% for donation in donor.donations %}
                        <a href="{{path('donation_show',{id: donation.id})}}" class="list-group-item">{{donation.location}} - {{donation.bags}} blood bags</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
