{% extends 'base.html.twig' %}

{% block title %}Employee Details {{parent()}}{% endblock %}

{% block body %}
<div class="col-9">
    <h1>Employee Details</h1>
    <table class="table table-sm table-striped">
        <tbody>
            <tr>
                <th>Employee Code</th>
                <td>{{ appuser.employeeCode }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ appuser.roles ? appuser.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ appuser.password }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-3">
    <div class="btn-group">
        <a class="btn btn-default btn-sm" role="button" href="{{path('appuser_index') }}">back to list</a>
        <a class="btn btn-info btn-sm" role="button" href="{{path('appuser_edit', {'id': appuser.id}) }}">edit</a>
        {{ include('appuser/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
